#header nav .faq a {
	color: #fff;
}

#faq {
	overflow: hidden;
	margin-top: 60px;
}
#faq > p {
	margin-bottom: 60px;
}


#faq>article h2 {
	font-size: 24px;
	border-bottom: 5px #003 solid;
	padding-bottom: 10px;
	color: #f60;
}
#faq>article p {
	margin-top: 10px;
	margin-bottom: 30px;
}



#faq>section article {
	margin-bottom: 30px;
	overflow: hidden;
}
#faq>section article h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
#faq>section article p {
	overflow: hidden;
}
#faq>section article h4 {
	font-size: 18px;
	margin-bottom: 15px;
	display: block;
	overflow: hidden;
}
#faq>section article span {
	display: block;
	text-align: center;
	float: left;
	width: 200px;
	background: #ccc;
	padding: 5px 0;
}
#faq>section article address {
	margin-left: 30px;
	display: block;
	float: left;
	padding: 5px 0;
}
#faq>section article:last-child {
	margin-bottom: 30px;
}
#faq>section article:last-child>article:last-child {
	margin-bottom: 0;
}
