#findhotel {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0; left: 0;
	z-index: 100; display: none;
	overflow: hidden;
}
#findhotel .wrap > section {
	margin-top: 60px;
	position: relative;
	background-color: #f7f7f7;
	overflow: hidden;
}
#findhotel .wrap > section > h2 {
	background-color: #ccc;
	font-size: 28px;
	padding: 15px 0;
	padding-left: 15px;
}
#findhotel .wrap section > article {
	overflow: hidden;
	margin-top: 60px;
	margin-bottom: 60px;
}
#findhotel .wrap section > article > h3 {
	float: left;
	margin-left: 15px;
	width: 200px;
	height: 56px;
	line-height: 50px;
	text-align: center;
}
#findhotel .wrap section > article > ul {
	overflow: hidden;
}
#findhotel .wrap section > article > ul li {
	float: left;
	margin-right: 15px;
	margin-top: 9px;
	width: 150px; height: 30px;
	line-height: 30px; text-align: center;
	border: 1px solid #003;
	overflow: hidden;
}
#findhotel .wrap section p.cancel {
	width: 30px; height: 30px;
	font-size: 18px;
	background-color: #999;
	color: #fff;
	font-family: 'Roboto-Bold';
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #000;
	text-align: center;
	line-height: 30px;
}
#findhotel .wrap section p.cancel:hover {
	cursor: pointer;
}

@media only screen and (max-width: 900px)
{
	body #findhotel .wrap > section {
		margin-top: 0;
	}
	body #findhotel .wrap > section > h2 {
		font-size: 24px;
	}
	body #findhotel .wrap section > article {
		margin-top: 45px;
		margin-bottom: 45px;
	}
	body #findhotel .wrap section > article > h3 {
		margin-left: 0; margin-right: 15px;
		width: 120px; height: 56px;
		line-height: 1.2em;
		text-align: center;
	}
	body #findhotel .wrap section > article > ul li {
		margin-right: 15px;
		margin-top: 9px;
		width: 120px; height: 30px;
		line-height: 30px;
		overflow: visible;
	}
}

@media only screen and (max-width: 430px)
{
	body #findhotel .wrap section > article {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	body #findhotel .wrap section > article > h3 {
		margin-left: 0; margin-right: 15px;
		width: 120px; height: 56px;
		line-height: 1.2em;
		text-align: center;
	}
	body #findhotel .wrap section > article > ul li {
		margin-right: 15px;
		margin-top: 9px;
		width: 100px; height: 24px;
		line-height: 24px;
		font-size: 14px;
		overflow: hidden;
	}
}
